
:root {
  font-size: 16px;
}

*, *::before, *::after {
  padding: 0;
  margin: 0;
}

.header--nav {
  margin-top: 1rem;
  margin-bottom: 4rem;
  display: flex;
  justify-content: space-between;
  background-color: grey;
  opacity: 0.7;
  align-items: center;
  align-content: center;
  height: 3rem;
}

.header--title {
  padding-left: 1rem;
  color: white;
  font-size: 2rem;
}

.nav--li {
  list-style-type: none;
  display: inline;
  padding: 1rem;
}

.nav--a {
  display: inline;
  text-decoration: none;
  padding: 0.4rem;
  background: #45454588;
  color: white;
}

.nav--a__active {
  pointer-events: none;
  background-color: darkgrey;
}

body {
  padding: 0 6rem;
  background-image: url('./background-patern.jpg');
  //background-image: url('https://thumbs.dreamstime.com/b/abstract-simple-geometric-vector-seamless-pattern-white-line-triangular-texture-grey-background-light-gray-abstract-simple-136072651.jpg');
}

.form--form {
  padding-top: 2rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction:column;
}

.form--wrapper {
  width: 50%;
  margin: 0 auto;
  width: 300px;
  background: linear-gradient(90deg, rgba(249,231,157,1) 0%, rgba(249,231,157,1) 35%, rgba(108,223,246,1) 100%);
  padding-bottom: 1rem;
  border-radius: 5px 30px 5px 30px;
  
}

.form--inputWrapper {
  display: flex;
  margin: 0.6rem;
}

.form--title {
  text-align: center;
  color: #fff;
  font-size: 1.6rem;
  opacity: 0.8;
  padding-bottom: 1rem;
}

.form--input {
  margin: 0 auto;
  padding: 0.3rem;
  border-radius: 8px;
  border: none;
  background-color: #f0ead6;
  color: darkgrey;
  font-size: 0.9rem;
  text-align: center;
  width: 70%;
}

.form--input:focus {
  outline: 1px solid white;
}

.form--submit {
  background: transparent;
  border: solid 2px white;
  border-radius: 10px;
  width: 50%;
  color: white;
  font-size: 1rem;
  align-self: center;
  margin: 1.2rem;
  font-weight: 500;
  opacity: 0.8;
  padding: 0.3rem;
}

.form--disconnect {
  color: white;
  text-align: center;
  display: block;
  font-size: 1rem;
}